.signup-container {
    max-width: fit-content;
    margin: auto;
    padding-top: 40px;
}

.login-container {
    max-width: fit-content;
    margin: auto;
    padding-top: 40px;
}

.password-reset-container {
    max-width: fit-content;
    margin: auto;
    padding-top: 40px;
}

.nav-container {
    width: fit-content;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.nav-item:hover .nav-link {
    color: #007bff;
    transition: color 0.3s ease-in-out;
}